* {
    padding: 0;
    margin: 0;
}

body {
    display: block;
	font: 300 1em 'Roboto', sans-serif;
    color: #fe7f2d;
    text-align: center;
     /* background: linear-gradient(to right, #780206 , #061161); /* Standard syntax */    
}

header {
    background-color: #000;
    padding: 10px 10px 20px 10px;
}

p {
    margin-top: 10px;
}

span {
    color: aliceblue;
}

.current-gradient-info {
    padding: 10px;
}

h1 {
    font: 700 1.9em 'Inter', sans-serif;
    color: #fe7f2d;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

h3 {
	font: 400 1em 'Inter', sans-serif;
    color: #fe7f2d;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

#randomGenerate {
    font: 300 1em 'Roboto', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #000;
    background-color: #fe7f2d;
    background: linear-gradient(60deg, #fcca46 , #fe7f2d); /* Standard syntax */
    margin-top: 20px;
    cursor: pointer;
}

#randomGenerate:hover {
    background-color: #fe7f2d;
    background: linear-gradient(60deg, #fe7f2d , #fcca46); /* Standard syntax */
}

#randomGenerate:active { 
    background-color: #222;
    background: linear-gradient(60deg, #222 , #333); /* Standard syntax */
    color: #fe7f2d;
}
